name: Deploy to HF Spaces

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        lfs: true
        
    - name: Push to Hugging Face Spaces
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN }}
      run: |
        # Configure git
        git config --global user.email "action@github.com"
        git config --global user.name "GitHub Action"
        
        # Push to HF space (replace YOUR_USERNAME and YOUR_SPACE_NAME)
        git remote add space https://titanite09:$HF_TOKEN@huggingface.co/spaces/titanite09/image-to-mosaic-app
        git push space main:main --force